/* GENERAL STYLES */

body {
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

button {
    background-color: #607EAA;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
}

button a {
    color: white;
    font-weight: bold;
}

/* HEADER & FOOTER */

header {
    background-color: white;
    margin: none;
    border-bottom: 5px solid #F9F5EB;
}

header a {
    font-weight: bold;
    color: #1C3879;
}

header a:hover {
    color: #607EAA;
}

header, footer {
    height: 100%;
    margin: none;
    padding: 20px 10px;
}

#logo {
    font-weight: bold;
    /* font-style: italic; */
    font-size: 2em;
    width: 30%;
    color: black;
    font-family: serif;
}

#logo a:hover {
    color:#1C3879;
}

ul {
    list-style: none;
    margin: none;
    padding: none;
}

header ul, footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    color: #EAE3D2;
}

footer {
    background-color: white;
    margin-top: 15px;
}

footer a {
    font-weight: bold;
    color: #607EAA;
}

footer a:hover {
    color: #1C3879;
}

#socials img {
    width: 20px;
    object-fit: fill;
}

#last {
    background-color: #1C3879;
    color: white;
    margin: 20px 0 0 0;
    padding: 20px;
    width: 100%;
}

/* MAIN */

main {
    padding: 20px 60px 30px 60px;
    margin: 0 10px;
}

h1 {
    color: #1C3879;
}

.main-paragraphs {
    padding: 15px 300px 15px 300px;
}

img {
    width: 33%;
    object-fit: fill;
    margin-top: 20px;
    /* border: 5px solid white; */
}

/* FORM STYLES */

.form-container {
    margin-top: 20px;
    border-bottom: 5px solid #F9F5EB;
}

form {
    width: 50%;
    margin: 0 25%;
    padding: 15px;
}

form * {
    margin: 10px 0;
}

#intro {
    padding: 15px;
}

h2 {
    color: #607EAA;
}


/* TABLET */

@media screen and (max-width: 768px) {

    /* GRID */
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3);
    }

    main {
        grid-column: 1 / 2;
        grid-row: 1 / 3 ;
    }

    h1, .main-paragraphs {
        grid-row: 1 / 2;
    }

    main section {
        grid-row: 2 / 3;
    }

    .form-container {
        grid-row: 3 / 4;
    }


    /* OTHER STYLES / ADJUSTMENTS */

    main {
        margin: 0;
        padding: 0;
    }

    .main-paragraphs {
        margin: 0;
        padding: 0 50px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
}


/* MOBILE */

@media screen and (max-width: 425px) {

    /* HEADER AND FOOTER */
    #logo {
        display: block;
        width: 100%;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
    }

    /* MAIN */
    .container {
        margin: 40px 15px;
    }

    .container * {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    main *, .main-paragraphs, .photo {
        padding: 0;
        margin: 0;
    }

    .main-paragraphs {
        margin: 20px 0;
    }

    img {
        width: 100%;
        object-fit: fill;
    }


    

    /* FORM */
    .form-container {
        padding-bottom: 40px;
    }

    button {
        height: 50px;
        border-radius: 25px;
    }
}







